body {
    background-image: url(images/train3.jpg);
    font-family: 'Tajawal', sans-serif;
}

h3 {
    margin: 10px;
    color: rgb(1, 77, 77);
}

form {
    margin: 15px;
}

.jumbotron {
    background-image: url(images/train1.jpg);
    opacity: 30%;
    color: rgb(1, 77, 77);
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin: 20px;
    text-align: center;
    border-width: 2px;
    border-color: white;
    border-style: groove;
    padding-top: 24px;
}

.col-lg-6 {
        flex-grow: 2; 
        margin: auto;
        width: 40%;
    }


.row {
    display: flex;
    justify-content: center;

}

.text-center {
    background: white;
    padding: 15px;
    padding-top: 24px;
    border-width: 2px;
    border-color: white;
    border-style: groove;
    font-weight: 800;
}

